In [1]:
import mlflow
import mlflow.sklearn

In [2]:
#mlflow.start_run()

In [3]:
mlflow.log_param("learning_rate", 0.01)
mlflow.log_param("epochs", 100)

100

In [4]:
mlflow.log_metric("accuracy", 0.85)
mlflow.log_metric("precision", 0.90)

In [23]:
#mlflow.end_run()

In [6]:
import os
os.environ["MLFLOW_TRACKING_URI"] = "http://localhost:5000"

In [7]:
import trino
import pandas as pd
import numpy as np

In [8]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

In [9]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [10]:
conn = trino.dbapi.connect(host='192.168.1.71',port=8083,user='trino',catalog='hive', schema="data") 
cur = conn.cursor() 
cur.execute('show tables') 
i= cur.fetchall() 
i

[['bankchurners'],
 ['bankloan'],
 ['diabetes'],
 ['german_credit_data'],
 ['gld_price_data'],
 ['heart'],
 ['insurance'],
 ['mobile'],
 ['predictive'],
 ['salary'],
 ['shipping'],
 ['shop_customer'],
 ['tesla'],
 ['walmart_sales']]

In [11]:
conn = trino.dbapi.connect(host='192.168.1.71',port=8083,user='trino',catalog='hive', schema="data") 
cur = conn.cursor() 
cur.execute('select * from tesla') 
f= cur.fetchall() 
f

[['2010-06-29', 19.0, 25.0, 17.540001, 23.889999, 23.889999, 18766300],
 ['2010-06-30', 25.790001, 30.42, 23.299999, 23.83, 23.83, 17187100],
 ['2010-07-01', 25.0, 25.92, 20.27, 21.959999, 21.959999, 8218800],
 ['2010-07-02', 23.0, 23.1, 18.709999, 19.200001, 19.200001, 5139800],
 ['2010-07-06', 20.0, 20.0, 15.83, 16.110001, 16.110001, 6866900],
 ['2010-07-07', 16.4, 16.629999, 14.98, 15.8, 15.8, 6921700],
 ['2010-07-08', 16.139999, 17.52, 15.57, 17.459999, 17.459999, 7711400],
 ['2010-07-09', 17.58, 17.9, 16.549999, 17.4, 17.4, 4050600],
 ['2010-07-12', 17.950001, 18.07, 17.0, 17.049999, 17.049999, 2202500],
 ['2010-07-13', 17.389999, 18.639999, 16.9, 18.139999, 18.139999, 2680100],
 ['2010-07-14', 17.940001, 20.15, 17.76, 19.84, 19.84, 4195200],
 ['2010-07-15', 19.940001, 21.5, 19.0, 19.889999, 19.889999, 3739800],
 ['2010-07-16',
  20.700001,
  21.299999,
  20.049999,
  20.639999,
  20.639999,
  2621300],
 ['2010-07-19', 21.370001, 22.25, 20.92, 21.91, 21.91, 2486500],
 ['2010-07-20', 21.85, 21.85, 20.049999, 20.299999, 20.299999, 1825300],
 ['2010-07-21', 20.66, 20.9, 19.5, 20.219999, 20.219999, 1252500],
 ['2010-07-22', 20.5, 21.25, 20.370001, 21.0, 21.0, 957800],
 ['2010-07-23', 21.190001, 21.559999, 21.059999, 21.290001, 21.290001, 653600],
 ['2010-07-26', 21.5, 21.5, 20.299999, 20.950001, 20.950001, 922200],
 ['2010-07-27', 20.91, 21.18, 20.26, 20.549999, 20.549999, 619700],
 ['2010-07-28', 20.549999, 20.9, 20.51, 20.719999, 20.719999, 467200],
 ['2010-07-29', 20.77, 20.879999, 20.0, 20.35, 20.35, 616000],
 ['2010-07-30', 20.200001, 20.440001, 19.549999, 19.940001, 19.940001, 426900],
 ['2010-08-02', 20.5, 20.969999, 20.33, 20.92, 20.92, 718100],
 ['2010-08-03', 21.0, 21.950001, 20.82, 21.950001, 21.950001, 1230500],
 ['2010-08-04', 21.950001, 22.18, 20.85, 21.26, 21.26, 913000],
 ['2010-08-05', 21.540001, 21.549999, 20.049999, 20.450001, 20.450001, 796200],
 ['2010-08-06', 20.1, 20.16, 19.52, 19.59, 19.59, 741900],
 ['2010-08-09', 19.9, 19.98, 19.450001, 19.6, 19.6, 812700],
 ['2010-08-10', 19.65, 19.65, 18.82, 19.030001, 19.030001, 1281300],
 ['2010-08-11', 18.690001, 18.879999, 17.85, 17.9, 17.9, 797600],
 ['2010-08-12', 17.799999, 17.9, 17.389999, 17.6, 17.6, 691000],
 ['2010-08-13', 18.18, 18.450001, 17.66, 18.32, 18.32, 634000],
 ['2010-08-16', 18.450001, 18.799999, 18.26, 18.780001, 18.780001, 485800],
 ['2010-08-17', 18.959999, 19.4, 18.780001, 19.15, 19.15, 447900],
 ['2010-08-18', 19.59, 19.59, 18.6, 18.77, 18.77, 601300],
 ['2010-08-19', 18.540001, 19.25, 18.33, 18.790001, 18.790001, 579100],
 ['2010-08-20', 18.65, 19.110001, 18.51, 19.1, 19.1, 296000],
 ['2010-08-23', 19.09, 20.389999, 19.0, 20.129999, 20.129999, 1088100],
 ['2010-08-24', 19.25, 19.709999, 18.950001, 19.200001, 19.200001, 673100],
 ['2010-08-25', 19.16, 19.98, 18.559999, 19.9, 19.9, 503300],
 ['2010-08-26', 19.889999, 20.27, 19.6, 19.75, 19.75, 433800],
 ['2010-08-27', 19.75, 19.870001, 19.5, 19.700001, 19.700001, 379600],
 ['2010-08-30', 19.700001, 20.190001, 19.610001, 19.870001, 19.870001, 732800],
 ['2010-08-31', 19.66, 19.790001, 19.33, 19.48, 19.48, 201100],
 ['2010-09-01', 19.620001, 20.690001, 19.6, 20.450001, 20.450001, 494900],
 ['2010-09-02', 20.370001, 21.24, 20.309999, 21.059999, 21.059999, 487100],
 ['2010-09-03', 20.870001, 21.299999, 20.66, 21.049999, 21.049999, 434600],
 ['2010-09-07', 20.610001, 21.0, 20.5, 20.540001, 20.540001, 243400],
 ['2010-09-08', 20.66, 20.950001, 20.6, 20.9, 20.9, 288400],
 ['2010-09-09', 21.0, 21.049999, 20.690001, 20.709999, 20.709999, 376200],
 ['2010-09-10', 20.75, 20.93, 19.76, 20.17, 20.17, 386600],
 ['2010-09-13', 20.889999, 20.9, 20.5, 20.719999, 20.719999, 360800],
 ['2010-09-14', 20.540001, 21.6, 20.530001, 21.120001, 21.120001, 654700],
 ['2010-09-15', 20.98, 22.0, 20.790001, 21.98, 21.98, 684600],
 ['2010-09-16', 22.15, 23.16, 20.84, 20.940001, 20.940001, 2684500],
 ['2010-09-17', 21.02, 21.32, 19.799999, 20.23, 20.23, 1198500],
 ['2010-09-20', 20.67, 21.35, 20.16, 21.059999, 21.059999, 947500],
 ['2010-09-21', 20.889999, 21.549999, 20.67, 20.77, 20.77, 796000],
 ['2010-09-22', 20.870001, 20.950001, 19.799999, 19.870001, 19.870001, 962900],
 ['2010-09-23', 19.889999, 20.139999, 19.5, 19.559999, 19.559999, 668100],
 ['2010-09-24', 19.950001, 20.190001, 19.65, 20.1, 20.1, 578900],
 ['2010-09-27', 20.4, 20.809999, 20.049999, 20.530001, 20.530001, 418600],
 ['2010-09-28', 21.040001, 21.49, 20.76, 21.4, 21.4, 1214500],
 ['2010-09-29', 21.190001, 22.030001, 21.129999, 21.98, 21.98, 1969300],
 ['2010-09-30', 22.0, 22.15, 20.190001, 20.41, 20.41, 2195800],
 ['2010-10-01', 20.690001, 20.75, 20.309999, 20.6, 20.6, 597700],
 ['2010-10-04', 20.43, 21.17, 20.299999, 20.99, 20.99, 643600],
 ['2010-10-05', 21.15, 21.280001, 21.01, 21.120001, 21.120001, 332000],
 ['2010-10-06', 21.059999, 21.26, 20.32, 20.459999, 20.459999, 313400],
 ['2010-10-07', 20.57, 20.639999, 20.34, 20.43, 20.43, 141000],
 ['2010-10-08', 20.43, 20.790001, 20.389999, 20.43, 20.43, 267800],
 ['2010-10-11', 20.440001, 20.700001, 20.07, 20.24, 20.24, 171200],
 ['2010-10-12', 20.200001, 20.280001, 20.030001, 20.24, 20.24, 244000],
 ['2010-10-13', 20.639999, 20.85, 20.360001, 20.540001, 20.540001, 318200],
 ['2010-10-14', 21.0, 21.030001, 20.4, 20.75, 20.75, 294800],
 ['2010-10-15', 20.889999, 20.9, 20.25, 20.540001, 20.540001, 284700],
 ['2010-10-18', 20.52, 20.639999, 20.219999, 20.23, 20.23, 162800],
 ['2010-10-19', 20.200001, 20.41, 20.0, 20.049999, 20.049999, 245200],
 ['2010-10-20', 20.16, 20.690001, 20.040001, 20.65, 20.65, 312500],
 ['2010-10-21', 20.610001, 20.950001, 20.450001, 20.75, 20.75, 417100],
 ['2010-10-22', 20.68, 20.93, 20.549999, 20.719999, 20.719999, 161100],
 ['2010-10-25', 20.940001, 20.98, 20.73, 20.85, 20.85, 118500],
 ['2010-10-26', 20.799999, 21.870001, 20.51, 21.360001, 21.360001, 660900],
 ['2010-10-27', 21.25, 21.379999, 20.65, 21.0, 21.0, 356500],
 ['2010-10-28', 21.389999, 21.5, 20.959999, 21.190001, 21.190001, 224200],
 ['2010-10-29', 21.139999, 21.85, 21.049999, 21.84, 21.84, 280600],
 ['2010-11-01', 21.940001, 22.75, 21.309999, 21.41, 21.41, 455800],
 ['2010-11-02', 21.68, 21.879999, 21.049999, 21.25, 21.25, 322500],
 ['2010-11-03', 21.280001, 22.5, 21.16, 21.77, 21.77, 372600],
 ['2010-11-04', 22.6, 25.33, 22.15, 24.9, 24.9, 1874000],
 ['2010-11-05',
  24.870001,
  24.969999,
  23.719999,
  24.440001,
  24.440001,
  1011000],
 ['2010-11-08', 24.5, 25.0, 24.030001, 24.98, 24.98, 509500],
 ['2010-11-09', 25.0, 25.690001, 24.049999, 24.629999, 24.629999, 956400],
 ['2010-11-10', 24.48, 29.969999, 24.049999, 29.360001, 29.360001, 3060500],
 ['2010-11-11', 28.6, 29.1, 27.33, 28.040001, 28.040001, 1945300],
 ['2010-11-12', 28.25, 30.5, 28.07, 29.84, 29.84, 2729100],
 ['2010-11-15',
  30.219999,
  32.939999,
  30.219999,
  30.799999,
  30.799999,
  2622900],
 ['2010-11-16', 31.0, 31.4, 28.42, 29.67, 29.67, 1347600],
 ['2010-11-17', 30.200001, 30.75, 28.610001, 29.49, 29.49, 750000],
 ['2010-11-18', 30.67, 30.74, 28.92, 29.889999, 29.889999, 956100],
 ['2010-11-19', 30.16, 31.370001, 29.700001, 30.99, 30.99, 1150500],
 ['2010-11-22', 31.57, 33.450001, 31.5, 33.400002, 33.400002, 1529700],
 ['2010-11-23', 33.290001, 35.68, 32.189999, 34.57, 34.57, 1577800],
 ['2010-11-24', 35.27, 35.970001, 34.330002, 35.470001, 35.470001, 1425000],
 ['2010-11-26', 35.599998, 36.0, 34.75, 35.32, 35.32, 350600],
 ['2010-11-29', 35.41, 35.950001, 33.330002, 34.330002, 34.330002, 1145600],
 ['2010-11-30', 33.740002, 35.330002, 33.41, 35.330002, 35.330002, 2222600],
 ['2010-12-01',
  35.869999,
  36.419998,
  33.450001,
  34.349998,
  34.349998,
  1299200],
 ['2010-12-02',
  34.009998,
  34.299999,
  31.200001,
  32.349998,
  32.349998,
  2007000],
 ['2010-12-03', 32.009998, 32.25, 30.870001, 31.49, 31.49, 1160100],
 ['2010-12-06', 31.35, 31.450001, 29.559999, 30.309999, 30.309999, 1274400],
 ['2010-12-07', 30.49, 32.400002, 30.049999, 31.559999, 31.559999, 1311300],
 ['2010-12-08', 32.48, 32.490002, 31.52, 32.369999, 32.369999, 660000],
 ['2010-12-09', 32.509998, 32.720001, 31.65, 32.049999, 32.049999, 406000],
 ['2010-12-10', 32.049999, 32.919998, 31.129999, 31.52, 31.52, 429400],
 ['2010-12-13', 31.639999, 31.77, 30.4, 30.549999, 30.549999, 410400],
 ['2010-12-14', 30.290001, 30.389999, 27.76, 28.530001, 28.530001, 1765700],
 ['2010-12-15', 28.67, 29.969999, 28.530001, 29.6, 29.6, 742900],
 ['2010-12-16', 30.0, 30.91, 29.65, 30.809999, 30.809999, 790100],
 ['2010-12-17', 31.34, 31.540001, 30.709999, 31.360001, 31.360001, 813000],
 ['2010-12-20', 31.639999, 32.189999, 31.26, 31.700001, 31.700001, 523400],
 ['2010-12-21', 31.799999, 32.689999, 31.709999, 32.259998, 32.259998, 777700],
 ['2010-12-22', 32.25, 32.860001, 31.700001, 32.630001, 32.630001, 833300],
 ['2010-12-23', 31.26, 32.48, 29.92, 30.09, 30.09, 1552600],
 ['2010-12-27', 28.02, 28.58, 25.059999, 25.549999, 25.549999, 9301900],
 ['2010-12-28', 25.85, 26.75, 25.0, 26.41, 26.41, 4056300],
 ['2010-12-29', 27.030001, 28.01, 26.5, 27.73, 27.73, 3319200],
 ['2010-12-30', 27.700001, 27.9, 26.379999, 26.5, 26.5, 2041100],
 ['2010-12-31', 26.57, 27.25, 26.5, 26.629999, 26.629999, 1417900],
 ['2011-01-03', 26.84, 27.0, 25.9, 26.620001, 26.620001, 1283000],
 ['2011-01-04', 26.66, 26.950001, 26.02, 26.67, 26.67, 1187400],
 ['2011-01-05', 26.48, 26.9, 26.190001, 26.83, 26.83, 1446700],
 ['2011-01-06', 26.83, 28.0, 26.809999, 27.879999, 27.879999, 2061200],
 ['2011-01-07', 28.0, 28.58, 27.9, 28.24, 28.24, 2247900],
 ['2011-01-10', 28.17, 28.68, 28.049999, 28.450001, 28.450001, 1342700],
 ['2011-01-11', 28.59, 28.709999, 26.92, 26.959999, 26.959999, 1710200],
 ['2011-01-12', 27.01, 27.4, 26.52, 26.959999, 26.959999, 964400],
 ['2011-01-13', 26.959999, 26.969999, 26.16, 26.219999, 26.219999, 723600],
 ['2011-01-14', 26.15, 26.58, 25.610001, 25.75, 25.75, 1192000],
 ['2011-01-18', 25.48, 25.639999, 24.75, 25.639999, 25.639999, 1621700],
 ['2011-01-19', 25.27, 25.469999, 23.75, 24.030001, 24.030001, 2371500],
 ['2011-01-20',
  24.030001,
  24.450001,
  22.370001,
  22.620001,
  22.620001,
  2279900],
 ['2011-01-21', 23.120001, 23.59, 22.709999, 23.040001, 23.040001, 1217000],
 ['2011-01-24', 23.530001, 24.809999, 23.23, 24.49, 24.49, 1645100],
 ['2011-01-25', 24.65, 24.889999, 24.02, 24.68, 24.68, 1271500],
 ['2011-01-26', 24.709999, 24.879999, 24.1, 24.75, 24.75, 1079900],
 ['2011-01-27', 24.74, 25.08, 24.530001, 24.92, 24.92, 895700],
 ['2011-01-28', 24.879999, 24.879999, 23.75, 24.01, 24.01, 1048400],
 ['2011-01-31', 24.049999, 24.120001, 23.5, 24.1, 24.1, 830300],
 ['2011-02-01', 24.309999, 24.73, 23.540001, 23.91, 23.91, 707800],
 ['2011-02-02', 24.16, 24.18, 23.67, 23.940001, 23.940001, 569500],
 ['2011-02-03', 23.82, 23.9, 23.15, 23.629999, 23.629999, 512000],
 ['2011-02-04', 23.440001, 23.67, 23.219999, 23.459999, 23.459999, 544000],
 ['2011-02-07', 23.26, 23.26, 22.879999, 23.07, 23.07, 895100],
 ['2011-02-08', 23.780001, 25.25, 23.0, 24.49, 24.49, 3504900],
 ['2011-02-09', 24.129999, 24.18, 22.790001, 23.209999, 23.209999, 2635600],
 ['2011-02-10', 23.26, 23.639999, 22.809999, 23.219999, 23.219999, 836100],
 ['2011-02-11', 23.25, 23.75, 22.940001, 23.25, 23.25, 634500],
 ['2011-02-14', 23.639999, 24.139999, 23.049999, 23.08, 23.08, 1283100],
 ['2011-02-15', 23.01, 23.17, 22.559999, 22.84, 22.84, 953700],
 ['2011-02-16', 23.1, 24.969999, 23.07, 24.73, 24.73, 4115100],
 ['2011-02-17', 24.629999, 25.49, 23.549999, 23.6, 23.6, 2618400],
 ['2011-02-18', 23.33, 23.49, 22.959999, 23.18, 23.18, 2370700],
 ['2011-02-22', 22.879999, 23.0, 21.780001, 21.870001, 21.870001, 2064600],
 ['2011-02-23', 22.18, 22.5, 21.110001, 21.83, 21.83, 1605600],
 ['2011-02-24', 21.780001, 22.58, 21.5, 22.530001, 22.530001, 1055300],
 ['2011-02-25', 22.809999, 23.85, 22.690001, 23.610001, 23.610001, 1346300],
 ['2011-02-28', 23.74, 24.1, 23.5, 23.889999, 23.889999, 1051200],
 ['2011-03-01', 24.049999, 24.32, 23.700001, 23.940001, 23.940001, 1106400],
 ['2011-03-02', 23.82, 24.280001, 23.73, 24.02, 24.02, 663300],
 ['2011-03-03', 24.48, 24.790001, 24.059999, 24.360001, 24.360001, 640200],
 ['2011-03-04', 24.48, 24.99, 23.780001, 24.950001, 24.950001, 1580100],
 ['2011-03-07', 24.93, 25.4, 24.700001, 24.940001, 24.940001, 2033600],
 ['2011-03-08', 24.6, 24.959999, 24.0, 24.66, 24.66, 1399900],
 ['2011-03-09', 24.66, 24.99, 24.27, 24.719999, 24.719999, 924800],
 ['2011-03-10', 24.440001, 24.49, 23.73, 24.01, 24.01, 1017000],
 ['2011-03-11', 23.85, 24.25, 23.530001, 24.07, 24.07, 930800],
 ['2011-03-14', 23.82, 24.0, 23.200001, 23.25, 23.25, 1166000],
 ['2011-03-15',
  22.200001,
  22.959999,
  21.799999,
  22.950001,
  22.950001,
  1318800],
 ['2011-03-16', 22.860001, 23.25, 22.690001, 22.82, 22.82, 1169700],
 ['2011-03-17', 23.24, 23.43, 22.639999, 22.809999, 22.809999, 922600],
 ['2011-03-18', 23.190001, 23.190001, 22.51, 22.959999, 22.959999, 687900],
 ['2011-03-21', 23.049999, 23.049999, 22.540001, 22.73, 22.73, 411700],
 ['2011-03-22', 22.73, 22.860001, 22.0, 22.190001, 22.190001, 582900],
 ['2011-03-23', 22.110001, 22.27, 21.77, 22.209999, 22.209999, 422800],
 ['2011-03-24', 22.139999, 22.379999, 21.98, 22.33, 22.33, 462200],
 ['2011-03-25', 22.43, 23.0, 22.4, 22.75, 22.75, 568000],
 ['2011-03-28', 22.700001, 23.540001, 22.549999, 23.25, 23.25, 1058100],
 ['2011-03-29', 23.299999, 24.0, 23.209999, 23.92, 23.92, 755400],
 ['2011-03-30', 24.110001, 24.49, 23.01, 23.709999, 23.709999, 1223300],
 ['2011-03-31', 26.549999, 28.709999, 26.5, 27.75, 27.75, 11517800],
 ['2011-04-01', 27.450001, 28.18, 26.57, 26.66, 26.66, 2864800],
 ['2011-04-04', 26.83, 27.0, 25.23, 25.83, 25.83, 2609300],
 ['2011-04-05', 25.9, 27.0, 25.690001, 26.700001, 26.700001, 3180900],
 ['2011-04-06', 26.99, 27.01, 25.799999, 26.49, 26.49, 1288300],
 ['2011-04-07', 26.85, 27.940001, 26.450001, 27.24, 27.24, 2810300],
 ['2011-04-08', 27.58, 27.6, 26.360001, 26.49, 26.49, 1946400],
 ['2011-04-11', 26.469999, 26.530001, 25.02, 25.27, 25.27, 1369400],
 ['2011-04-12', 25.08, 25.209999, 24.299999, 24.65, 24.65, 1357400],
 ['2011-04-13', 25.129999, 25.690001, 24.809999, 24.93, 24.93, 1211500],
 ['2011-04-14', 24.870001, 25.280001, 24.200001, 25.139999, 25.139999, 983400],
 ['2011-04-15', 25.65, 26.18, 25.41, 25.58, 25.58, 943500],
 ['2011-04-18',
  25.129999,
  25.620001,
  24.360001,
  25.030001,
  25.030001,
  1033900],
 ['2011-04-19', 25.26, 25.26, 24.65, 25.16, 25.16, 548700],
 ['2011-04-20', 25.700001, 26.09, 25.299999, 25.75, 25.75, 837200],
 ['2011-04-21', 25.85, 26.98, 25.59, 26.74, 26.74, 1386100],
 ['2011-04-25', 26.700001, 26.73, 25.969999, 26.389999, 26.389999, 800900],
 ['2011-04-26', 26.66, 27.25, 26.309999, 26.93, 26.93, 1400000],
 ['2011-04-27', 26.93, 27.360001, 26.629999, 27.08, 27.08, 996900],
 ['2011-04-28', 27.07, 27.690001, 26.719999, 27.66, 27.66, 1600000],
 ['2011-04-29', 27.690001, 27.870001, 27.42, 27.6, 27.6, 726000],
 ['2011-05-02', 27.6, 27.799999, 27.059999, 27.450001, 27.450001, 784600],
 ['2011-05-03', 27.379999, 27.389999, 26.5, 26.870001, 26.870001, 913900],
 ['2011-05-04', 26.780001, 27.0, 25.75, 26.690001, 26.690001, 1044500],
 ['2011-05-05', 27.200001, 27.440001, 26.17, 26.440001, 26.440001, 1218500],
 ['2011-05-06', 26.9, 27.700001, 26.620001, 27.120001, 27.120001, 981700],
 ['2011-05-09', 27.0, 28.0, 26.85, 27.91, 27.91, 916400],
 ['2011-05-10', 28.24, 28.950001, 27.91, 28.33, 28.33, 1535300],
 ['2011-05-11', 28.200001, 28.299999, 26.92, 27.07, 27.07, 962500],
 ['2011-05-12', 27.07, 27.74, 26.65, 27.67, 27.67, 628000],
 ['2011-05-13', 28.0, 28.190001, 27.299999, 27.549999, 27.549999, 661500],
 ['2011-05-16', 27.99, 27.99, 26.549999, 26.6, 26.6, 755700],
 ['2011-05-17', 27.0, 27.0, 25.719999, 25.959999, 25.959999, 1234200],
 ['2011-05-18', 26.1, 26.469999, 25.52, 26.35, 26.35, 729500],
 ['2011-05-19', 27.030001, 28.440001, 26.6, 28.200001, 28.200001, 2655100],
 ['2011-05-20', 28.26, 28.280001, 27.35, 27.969999, 27.969999, 842500],
 ['2011-05-23', 27.620001, 27.620001, 26.620001, 26.82, 26.82, 863600],
 ['2011-05-24', 27.02, 27.5, 26.6, 26.719999, 26.719999, 613700],
 ['2011-05-25', 26.9, 29.01, 26.17, 28.98, 28.98, 4693100],
 ['2011-05-26', 28.82, 29.76, 28.1, 29.48, 29.48, 3336900],
 ['2011-05-27', 29.540001, 29.67, 28.82, 29.549999, 29.549999, 1687100],
 ['2011-05-31',
  29.690001,
  30.280001,
  29.549999,
  30.139999,
  30.139999,
  3290500],
 ['2011-06-01', 30.0, 30.1, 28.379999, 28.52, 28.52, 1529900],
 ['2011-06-02', 28.52, 29.32, 28.51, 28.76, 28.76, 986300],
 ['2011-06-03', 29.950001, 31.5, 29.5, 30.129999, 30.129999, 6209200],
 ['2011-06-06', 30.1, 30.129999, 28.26, 28.700001, 28.700001, 2331100],
 ['2011-06-07', 28.940001, 29.389999, 28.26, 28.370001, 28.370001, 1222100],
 ['2011-06-08', 28.440001, 28.6, 27.02, 27.120001, 27.120001, 1695900],
 ['2011-06-09', 27.43, 28.1, 27.1, 27.620001, 27.620001, 1603200],
 ['2011-06-10', 27.52, 28.299999, 27.35, 27.860001, 27.860001, 1566600],
 ['2011-06-13', 28.07, 28.879999, 27.879999, 28.43, 28.43, 1713400],
 ['2011-06-14', 28.540001, 29.700001, 28.52, 28.6, 28.6, 1573400],
 ['2011-06-15', 28.440001, 28.450001, 27.07, 27.32, 27.32, 1345000],
 ['2011-06-16', 27.67, 28.0, 25.74, 26.5, 26.5, 1842200],
 ['2011-06-17', 26.870001, 27.700001, 26.139999, 26.5, 26.5, 1714000],
 ['2011-06-20', 26.290001, 26.459999, 25.5, 26.01, 26.01, 1537800],
 ['2011-06-21', 26.24, 27.73, 26.0, 27.530001, 27.530001, 1496000],
 ['2011-06-22', 27.370001, 28.25, 27.1, 27.209999, 27.209999, 1475600],
 ['2011-06-23',
  27.200001,
  27.719999,
  26.209999,
  27.709999,
  27.709999,
  1170000],
 ['2011-06-24', 27.639999, 27.969999, 27.26, 27.57, 27.57, 3608500],
 ['2011-06-27', 27.73, 28.280001, 27.309999, 27.459999, 27.459999, 1809400],
 ['2011-06-28', 27.790001, 28.25, 27.67, 28.110001, 28.110001, 889200],
 ['2011-06-29', 28.5, 29.09, 28.07, 28.290001, 28.290001, 1461800],
 ['2011-06-30', 28.5, 29.33, 28.4, 29.129999, 29.129999, 946700],
 ['2011-07-01', 29.07, 29.6, 28.799999, 29.02, 29.02, 854900],
 ['2011-07-05', 29.02, 29.52, 28.709999, 29.139999, 29.139999, 996000],
 ['2011-07-06', 29.139999, 29.139999, 28.549999, 28.959999, 28.959999, 926900],
 ['2011-07-07', 29.139999, 30.0, 29.01, 29.73, 29.73, 1327900],
 ['2011-07-08', 29.889999, 29.889999, 28.59, 28.809999, 28.809999, 1240600],
 ['2011-07-11', 28.4, 28.530001, 28.0, 28.35, 28.35, 975800],
 ['2011-07-12', 28.370001, 29.09, 28.0, 28.17, 28.17, 1045400],
 ['2011-07-13', 28.43, 29.030001, 27.9, 28.639999, 28.639999, 1066000],
 ['2011-07-14', 28.530001, 28.959999, 27.25, 27.610001, 27.610001, 1159000],
 ['2011-07-15', 27.790001, 27.83, 27.4, 27.58, 27.58, 709000],
 ['2011-07-18', 27.34, 27.450001, 26.629999, 27.23, 27.23, 851900],
 ['2011-07-19', 27.58, 28.110001, 27.540001, 27.889999, 27.889999, 1026100],
 ['2011-07-20', 28.0, 30.440001, 27.799999, 28.690001, 28.690001, 3048300],
 ['2011-07-21', 28.91, 29.16, 28.1, 28.700001, 28.700001, 1011500],
 ['2011-07-22', 28.700001, 29.540001, 28.549999, 29.290001, 29.290001, 583500],
 ['2011-07-25', 29.01, 29.25, 28.440001, 28.49, 28.49, 673300],
 ['2011-07-26', 28.309999, 28.77, 27.969999, 28.0, 28.0, 760600],
 ['2011-07-27', 28.5, 28.5, 27.51, 27.639999, 27.639999, 958500],
 ['2011-07-28', 27.6, 28.549999, 27.540001, 28.17, 28.17, 938700],
 ['2011-07-29', 27.799999, 28.4, 27.5, 28.17, 28.17, 948200],
 ['2011-08-01', 28.67, 28.98, 28.209999, 28.77, 28.77, 1164900],
 ['2011-08-02', 28.690001, 29.200001, 27.27, 27.34, 27.34, 1549400],
 ['2011-08-03', 27.5, 27.83, 26.34, 27.200001, 27.200001, 1794500],
 ['2011-08-04', 26.51, 26.889999, 24.67, 24.75, 24.75, 3064500],
 ['2011-08-05', 24.99, 25.379999, 22.83, 24.24, 24.24, 1964400],
 ['2011-08-08', 23.1, 24.440001, 23.1, 23.639999, 23.639999, 2608500],
 ['2011-08-09', 24.15, 25.450001, 23.700001, 25.059999, 25.059999, 1333400],
 ['2011-08-10', 25.440001, 25.440001, 23.629999, 23.82, 23.82, 1564200],
 ['2011-08-11', 24.040001, 25.75, 24.0, 25.299999, 25.299999, 836500],
 ['2011-08-12', 25.6, 27.139999, 25.360001, 26.309999, 26.309999, 1009100],
 ['2011-08-15', 26.620001, 26.75, 25.93, 26.23, 26.23, 738600],

In [12]:
df=pd.DataFrame(f,columns=[i[0] for i in cur.description])

In [13]:
df

,date,open,high,low,close,adj close,volume
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900
...,...,...,...,...,...,...,...
460,2012-04-25,32.070000,32.990002,32.070000,32.910000,32.910000,712200
461,2012-04-26,32.959999,33.520000,32.910000,33.490002,33.490002,425300
462,2012-04-27,33.599998,33.630001,32.910000,33.340000,33.340000,591000
463,2012-04-30,33.270000,33.360001,32.580002,33.130001,33.130001,413900
464,2012-05-01,33.130001,34.209999,33.130001,33.779999,33.779999,659000

In [14]:
df.isnull().sum()

date         0
open         0
high         0
low          0
close        0
adj close    0
volume       0
dtype: int64

In [15]:
df.describe()

,open,high,low,close,adj close,volume
count,465.000000,465.000000,465.000000,465.000000,465.000000,4.650000e+02
mean,26.853097,27.448538,26.180559,26.824215,26.824215,1.344050e+06
std,4.664605,4.747379,4.634086,4.720923,4.720923,1.620229e+06
min,16.139999,16.629999,14.980000,15.800000,15.800000,1.185000e+05
25%,23.260000,23.950001,22.750000,23.219999,23.219999,6.693000e+05
50%,27.010000,27.700001,26.410000,26.959999,26.959999,9.564000e+05
75%,30.000000,30.620001,28.920000,29.840000,29.840000,1.375300e+06
max,38.189999,39.950001,37.110001,38.009998,38.009998,1.876630e+07

In [16]:
x=df.iloc[:,1:5]
x

          open       high        low      close
0    19.000000  25.000000  17.540001  23.889999
1    25.790001  30.420000  23.299999  23.830000
2    25.000000  25.920000  20.270000  21.959999
3    23.000000  23.100000  18.709999  19.200001
4    20.000000  20.000000  15.830000  16.110001
..         ...        ...        ...        ...
460  32.070000  32.990002  32.070000  32.910000
461  32.959999  33.520000  32.910000  33.490002
462  33.599998  33.630001  32.910000  33.340000
463  33.270000  33.360001  32.580002  33.130001
464  33.130001  34.209999  33.130001  33.779999

[465 rows x 4 columns]

In [17]:
y=df.iloc[:,-1]
y

0      18766300
1      17187100
2       8218800
3       5139800
4       6866900
         ...
460      712200
461      425300
462      591000
463      413900
464      659000
Name: volume, Length: 465, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.25, random_state = 2)

In [19]:
model = KNeighborsRegressor()
model.fit(xtrain, ytrain)
print('Training Set Score : ', model.score(xtrain, ytrain))
print('Testing Set Score  : ', model.score(xtest, ytest))

Training Set Score :  0.46763717052544096
Testing Set Score  :  0.16409912056466847

In [20]:
import os 
from random import random, randint 
from mlflow import log_metric, log_param,artifacts

In [21]:
import mlflow

def create_experiment(experiment_name, run_name,model,run_params=None):
    mlflow.set_experiment(experiment_name)

    with mlflow.start_run(run_name=run_name):
        if run_params is not None:
            for param in run_params:
                mlflow.log_param(param, run_params[param])

        #for metric in run_metrics:
            #mlflow.log_metric(metric, run_metrics[metric])

       # if confusion_matrix_path is not None:
           # mlflow.log_artifact(confusion_matrix_path, 'confusion_matrix.png')

        #if roc_auc_plot_path is not None:
            #mlflow.log_artifact(roc_auc_plot_path, "roc_auc_plot.png")

        mlflow.set_tag("tag1", "Tesla_Dataset")
        mlflow.set_tags({"tag2":"KNeighborsRegressor"})
        mlflow.sklearn.log_model(model, registered_model_name="Tesla_Dataset")

    print('Run - %s is logged to Experiment - %s' %(run_name, experiment_name))

In [24]:
from random import random, randint
from sklearn.ensemble import RandomForestRegressor

import mlflow
import mlflow.sklearn

with mlflow.start_run(run_name="my_experiment") as run:
    params = {"n_estimators": 5, "random_state": 42}
    sk_learn_rfr = RandomForestRegressor(**params)

    # Log parameters and metrics using the MLflow APIs
    mlflow.log_params(params)
    mlflow.log_param("param_1", randint(0, 100))
    mlflow.log_metrics({"metric_1": random(), "metric_2": random() + 1})

    # Log the sklearn model and register as version 1
    mlflow.sklearn.log_model(
        sk_model=sk_learn_rfr,
        artifact_path="KNeighborsRegressor",
        registered_model_name="KNN-random-forest-reg-model",
    )

Registered model 'KNN-random-forest-reg-model' already exists. Creating a new version of this model...
2023/04/11 16:41:48 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: KNN-random-forest-reg-model, version 3
Created version '3' of model 'KNN-random-forest-reg-model'.

In [25]:
#mlflow.end_run()

In [26]:
from mlflow.tracking import MlflowClient 

client = MlflowClient() 

experiment_name = "Tesla_Dataset" 

mlflow.get_experiment_by_name(experiment_name) 

mlflow.set_experiment(experiment_name)

<Experiment: artifact_location='mlflow-artifacts:/944774764477499204', creation_time=1680512956980, experiment_id='944774764477499204', last_update_time=1680512956980, lifecycle_stage='active', name='Tesla_Dataset', tags={}>

In [27]:
print("Tracking URI:", mlflow.get_tracking_uri())

Tracking URI: http://localhost:5000

In [28]:
mlflow.get_artifact_uri()

'mlflow-artifacts:/944774764477499204/e7eab830c5294df7987d2de5256d1bae/artifacts'

In [29]:
import mlflow.pyfunc

import mlflow.sklearn

model_name = "KNN-random-forest-reg-model"
model_version = 2

model = mlflow.sklearn.load_model(
    model_uri=f"models:/{model_name}/{model_version}"
)

y_pred = model.predict(xtest)
print(y_pred)

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [30]:
from mlflow.tracking import MlflowClient 

client = MlflowClient() 

experiment_name = "Tesla_Dataset" 

mlflow.get_experiment_by_name(experiment_name) 

mlflow.set_experiment(experiment_name)

<Experiment: artifact_location='mlflow-artifacts:/944774764477499204', creation_time=1680512956980, experiment_id='944774764477499204', last_update_time=1680512956980, lifecycle_stage='active', name='Tesla_Dataset', tags={}>